
/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

@import url(font.css);

body{
    background: #762646;font-family:'MegalopolisExtraRegular' !important;
}/*#d4a539*/

body > div.container{ 
    /*background:#d5ad6f;
    background-color: #fff;*/
    
}

div.span4 > p, div.span4 > h2{
    color: #fff;
}
/*
div.span4 > p, div.span4 > h2{
    padding:8px;
    background-color: #fff;
}*/

.carousel{margin:10px;}

.carousel img{border-radius:10px;}

.hero-unit{
  margin: 20px 10px !important;
  padding:20px;
  font-family:'MegalopolisExtraRegular' !important;
  background-color:rgba(200,0,60,0.2);
  color:#9fee00;
     -moz-box-shadow:    inset 0 0 10px #000;
   -webkit-box-shadow: inset 0 0 10px #000;
   box-shadow:         inset 0 0 10px #000;

}

.hero-unit > h1{text-shadow: 2px 2px 3px #999;}

.hero-unit > p{font-family:'MegalopolisExtraRegular' !important;color:white;}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

@media (max-width:767px;){
    .hero-unit{margin:20px;}
}


.navbar-inner {
  font-family:'MegalopolisExtraRegular' !important;
}

footer > small {color:#ccc;}

/*
.nav li a{padding-top:14px !important;}
*/

header div > h1{color:yellowgreen;}
header div > h2{color:#ccc;}
header div > p{color:white;text-align:right;}

#wall{padding-top:20px;}
.box{background:#000; margin-bottom:10px;}
.box.span3 img{ width:200px; margin:10px; }
.box.span2 img{ width:120px; margin:10px; }
.box.span1 img{ width:40px; margin:10px; }

.displayart{ background:#000; margin-bottom:10px; text-align:center;}
.displayart > img{ max-width:920px; margin:10px; }

.artwork-list{ list-style-type: none; margin-top:10px; text-align:center;}
.artwork-list a{ height:50px; background:rgba(200,0,29,0.3); margin-top:10px; border-radius:5px; /*position:relative;*/ }
.artwork-list a li{ /*position: absolute; bottom:10px;*/ width:100%; padding-top:14px; font-size:0.9em; }

/** Imported from CodeIgniter, needs revision **/



.portfolio-class{
  border-radius:5px;
  height:225px;
  background-color:#fff;
  margin-bottom:20px;

}

.portfolio-class h3{
  border-radius:5px 5px 0 0;
  background-color:#000;color:white;
  text-align:center;  
}

.portfolio-class-visualisations{
  background:url(/img/ss-03.jpg) no-repeat;
}

.portfolio-class-collages{
  background:url(/img/ss-02.jpg) no-repeat center -103px;
}

.portfolio-class-3d{
  background:url(/img/ss-05.jpg) no-repeat -150px -43px;
}

.portfolio-class-cad{
  background:url(/img/ss-07.jpg) no-repeat center -73px;
}

.portfolio-class-maps{
  background:url(/img/maps/map-hydeparkcorner.gif) no-repeat -230px -33px;
}

.portfolio-class-facebookasu{
  background:url(/img/fbasu/facebookasu-cpw.png) no-repeat -380px -1533px;
}

.portfolio-class-facebookpages{
  background:url(/img/fbpages/facebookpage_hiltonhhonors.png) no-repeat -560px -190px;
}